{% macro header(options) %}
  {% if options.type %}
    {% set title_type = options.type %}
  {% else %}
    {% set title_type = '1' %}
  {% endif %}
  {% if options.image %}
    {% set image_url = options.image %}
  {% else %}
    {% set image_url = "#{options.theme_url}/static/build/img/footer-bg-2.jpg" %}
  {% endif %}
  <header class="header wave_bottom l" style="background-image: url({{image_url|resize(1600, 900)}})">
    <div class="scene">
      <div data-depth="0.4" class="bg-stars"></div>
    </div>
    <div class="container">
      <h{{title_type}} class="header__title title-md">{{options.title}}</h{{title_type}}>
    </div>
  </header>
{% endmacro %}

{% macro blog(posts, navigation, sidebar ) %}

  <section class="section blog-content">
    <div class="container">
      <div class="row blog-content__row">
        <div class="col-12 col-sm-8">
          <div class="row">
            {% set i = 0 %}
            {% for post in posts %}

              {% set i = i + 1 %}
              
              {% if i == 1 %}
                {%
                  include 'partial/post.twig' with {
                    'class': 'post_large col-12',
                    'title': post.title,
                    'thumbnail': post.thumbnail,
                    'preview': post.preview,
                    'preview_length': 45,
                    'link': post.link,
                    'date': post.date
                  }
                %}
              {% else %}
                {%
                  include 'partial/post.twig' with {
                    'class': 'post_small col-sm-6',
                    'title': post.title,
                    'thumbnail': post.thumbnail,
                    'link': post.link,
                    'preview': post.preview,
                  }
                %}
              {% endif %}
              
            {% endfor %}
          </div>
          {{navigation}}
        </div>
        <div class="sidebar col-12 col-sm-4 col-md-3">
          {{sidebar}}
        </div>
      </div>
    </div>
  </section>
{% endmacro %}