{% macro header(title, image, type) %}
  {% if type %}
    {% set titleType = type %}
  {% else %}
    {% set titleType = '1' %}
  {% endif %}
  <header class="header wave_bottom" style="background-image: url({{image}})">
    <div class="container">
      <h{{titleType}} class="header__title title-md">{{title}}</h{{titleType}}>
    </div>
  </header>
{% endmacro %}

{% macro post(class, post, options) %}
  <div class="post {{class}}">
    <div class="post__inner">
      <div class="post__header">
        <img src="{{post.thumbnail|resize(800, 380)}}" alt="{{post.title}}" class="post__header-image">
      </div>
      <div class="post__body">
        <a href="{{post.link}}" class="post__title">{{post.title}}</a>
        <div class="post__preview">
          {% if options.preview_length is null %}
            {% set preview_length = 15 %}
          {% else %}
            {% set preview_length = options.preview_length %}
          {% endif %}
          {{post.preview.read_more('').end('').length(preview_length)}}
        </div>
        <div class="post__footer">
          <a href="{{post.link}}" class="btn btn_lg btn_border-brand-2 post__link effect effect_bounce-top">Читать статью</a>
          {% if options.enable_date %}<span class="post__date">{{post.date}}</span>{% endif %}
        </div>
      </div>  
    </div>
  </div>
{% endmacro %}

{% macro blog(posts, type, navigation) %}
  {% import _self as macro %}

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-8 col-md-9">
          <div class="row">
            {% set i = 0 %}
            {% for post in posts %}

              {% set i = i + 1 %}
              {% set options = {} %}
              
              {% if i == 1 %}
                {% set class = "post_large" %}
                {% 
                  set options = {
                    'preview_length': 45,
                    'enable_date': true
                  }
                %}
              {% else %}
                {% set class = "post_small col-sm-6" %}
              {% endif %}

              {{
                macro.post("#{class} col-12", post, options)
              }}
              
            {% endfor %}
          </div>
          {{navigation}}
        </div>
        <div class="col-12 col-sm-4 col-md-3">
          {% include 'sidebar.twig' %}
        </div>
      </div>
    </div>
  </section>
{% endmacro %}