{% macro header(title, image, type) %}
	{% if type %}
		{% set titleType = type %}
	{% else %}
		{% set titleType = '1' %}
	{% endif %}
	<header class="header wave_bottom" style="background-image: url({{image}})">
    <div class="container">
      <h{{titleType}} class="header__title title-md">{{title}}</h{{titleType}}>
    </div>
	</header>
{% endmacro %}
{% macro post(class, post) %}
	<div class="post {{class}}">
		<div class="post__header">
			<p class="post__header-category">{{ post.terms('category') | join(', ') }}</p>
			<h3 class="post__header-title">{{post.title}}</h3>
		</div>
		<div class="post__content">
			<div class="post__content-info">
        <img src="{{post.thumbnail|resize(126,126)}}" alt="{{post.name}}" class="post__content-info-image">
        <div class="post__content-info-body">
          <div class="post__content-info-body-excerpt">{{post.preview.read_more('').end('').length(20)}}</div>
          <a href="{{post.link}}" class="review__content-info-body-link">Читать полностью</a>
        </div>
      </div>
		</div>
	</div>
{% endmacro %}