{% macro header(title, image, type) %}
  {% if type %}
    {% set titleType = type %}
  {% else %}
    {% set titleType = '1' %}
  {% endif %}
  <header class="header wave_bottom" style="background-image: url({{image}})">
    <div class="container">
      <h{{titleType}} class="header__title title-md">{{title}}</h{{titleType}}>
    </div>
  </header>
{% endmacro %}
{% macro post(class, post) %}
  <div class="post {{class}}">
    <div class="post__inner">
      <div class="post__header">
        <img src="{{post.thumbnail|resize(800, 380)}}" alt="{{post.title}}" class="post__header-image">
      </div>
      <div class="post__body">
        <a href="{{post.link}}" class="post__title">{{post.title}}</a>
        <div class="post__preview">{{post.preview.read_more('').end('').length(20)}}</div>
        <div class="post__footer">
          <a href="{{post.link}}" class="btn btn_border-brand-1 review__link">Читать статью</a>
        </div>
      </div>  
    </div>
  </div>
{% endmacro %}