<div class="master-class">
  <div class="master-class__header">
    <p class="master-class__header-title">{{title}}</p>
    {% if subtitle_link %}
      <a href="{{subtitle_link}}" class="master-class__header-subtitle">{{subtitle}}</a>
    {% else %}
      {% if subtitle %}
        <p class="master-class__header-subtitle">{{subtitle}}</p>
      {% endif %}
    {% endif %}
    {% if term_list %}
      {{term_list}}
    {% endif %}
  </div>
  <div class="master-class__body">
    <a href="{{url}}" target="_blank"><img src="{{image}}" alt="{{title}}" class="master-class__body-image"></a>
  </div>
  <div class="master-class__excerpt">{{excerpt}}</div>
  <div class="master-class__footer">
    <a href="{{url}}" class="btn btn_brand-1 btn_lg master-class__button" target="_blank">ПОДРОБНЕЕ</a>
    <div class="master-class__price">{{price}}</div>
  </div>
</div>