<div class="post {{class}}">
  <div class="post__inner">
    <div class="post__header">
      <img src="{{thumbnail|resize(800, 380)}}" alt="{{title}}" class="post__header-image">
    </div>
    <div class="post__body">
      <a href="{{link}}" class="post__title">{{title}}</a>
      <div class="post__preview">{{excerpt}}</div>
      <div class="post__footer">
        <a href="{{link}}" class="btn btn_lg btn_border-brand-2 post__link effect effect_bounce-top">Читать статью</a>
      </div>
    </div>  
  </div>
</div>